<div *ngIf="!isLoading" class="content">
    <div id="account-email">
        <h1>Hello, {{ email }}</h1>
    </div>
    <div id="main-container">
        <h1>My Posted Articles</h1>
        <hr/>
        <div *ngIf="articles" class="wrapper">
            <div class="articles" *ngFor="let article of articles">
                <div class="container" *ngIf="article.ownerId == uid">
                    <div class="box">
                        <div class="imgBx">
                            <img [src]="article.imgUrl" />
                        </div>
                        <div class="content">
                            <div>
                                <h2>{{ article.title }}</h2>
                                <button [routerLink]="['/articles/' + article.id]">
                  Read More
                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!ownerHasPosts">
            <h3> You haven't posted any articles yet! </h3>
        </div>
    </div>
</div>

<div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>