<section>
  <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
  <div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="form" *ngIf="!isLoading">

    <div class="title">Welcome</div>
    <div class="subtitle">Let's create your account!</div>
    <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
      <div class="input-container ic1">
        <input id="email" class="input" name="email" ngModel type="text" placeholder=" " required email/>
        <div class="cut cut-short"></div>
        <label for="email" class="placeholder">Email</label>
      </div>
      <div class="input-container ic2">
        <input id="password" class="input" name="password" ngModel type="password" placeholder=" " required [minLength]="6"/>
        <div class="cut"></div>
        <label for="password" class="placeholder">Password</label>
      </div>
      <div class="input-container ic2">
        <input id="repass" class="input" name="repass" ngModel type="password" placeholder=" "/>
        <div class="cut cut-long"></div>
        <label for="repass" class="placeholder">Repeat password</label>
      </div>
      <button type="submit" class="submit">Sign Up</button>
      <span>Already have account? <a routerLink="/auth/login" class="btn-link">Sign In</a></span>
    </form>

  </div>

</section>
