#footer {
  border-top: 1px solid #2c2c2c;
  background-color: #d4d4d4;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
}

.footer-wrapper {
  width: 1280px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  margin: auto;
}

p {
  margin: 0;
  padding: 0;
  font-size: 0.7em;
  text-align: center;
}
