@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&display=swap');
header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background: rgb(238, 238, 238);
    padding: 30px 100px;
    border-bottom: 1px solid black;
}

.navbar {
    display: flex;
    background-color: transparent;
}

.nav-links {
    display: flex;
    flex-flow: row;
    list-style: none;
    flex-wrap: wrap;
}

.logo {
    font-family: 'Bodoni Moda', serif;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 30px;
}

.nav-item {
    margin-left: 2vmax;
}

a {
    color: rgb(44, 44, 44);
    cursor: pointer;
    text-decoration: none;
    transition: .1s ease-in;
    font-size: 0.95rem;
}

a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 10px #cacaca;
}