<header>
  <div class="header-wrapper">
    <a routerLink="/" class="logo">DevHut</a>
    <nav class="navbar">
      <ul class="nav-links">
        <li class="nav-item">
          <a routerLink="/">Home</a>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated">
          <a routerLink="/articles">Explore</a>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated">
          <a routerLink="/profile">Profile</a>
        </li>

        <li class="nav-item" *ngIf="!isAuthenticated">
          <a routerLink="/login">Login</a>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated">
          <a (click)="onLogout()">Logout</a>
        </li>

        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="registerLink" routerLink="/register">Register</a>
        </li>
      </ul>
    </nav>
  </div>

</header>
