<section id="content" @enterAnimation>
  <div id="container">
    <div class="home-text fadeinAnim">
      <h1>The community that helps you grow.</h1>
      <p>A place for developers to share experience</p>
      <hr />
      <button routerLink="/articles/">{{ buttonText | titlecase }}</button>
    </div>
    <div class="image fadeinAnim">
      <img
        class="home__img"
        src="https://firebasestorage.googleapis.com/v0/b/devhub-angular-softuni.appspot.com/o/codeimg.png?alt=media&token=b6a207c5-f6f0-4df1-bb58-87cb9c7a49cf"
        alt=""
      />
    </div>
  </div>
</section>
