@keyframes ldio-yd8ld8151p {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-yd8ld8151p div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #ffc13c;
  border-top-color: transparent;
  border-radius: 50%;
}

.ldio-yd8ld8151p div {
  animation: ldio-yd8ld8151p 1s linear infinite;
  top: 100px;
  left: 100px
}

.loadingio-spinner-rolling-i6zri07pbro {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-yd8ld8151p {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-yd8ld8151p div {
  box-sizing: content-box;
}
