:host {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  width: 1280px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

form {
  width: 900px;
  display: flex;
  flex-direction: column;
  padding: 150px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.77);
}

h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

input,
textarea {
  min-width: 240px;
  margin: 10px auto;
  width: 100%;
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

button {
  padding: 10px;
  font-size: 17px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.77);
}

.error-span {
  color: red;
  margin-bottom: 1rem;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
