#wrapper-div-main {
  margin-top: 5rem;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;
}

.container .box:hover ~ .box {
  transform: rotateY(-25deg);
}

.container .box:hover {
  transform: rotateY(0deg) scale(1.03);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .box .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #7c7c7c, #000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}

.container .box:hover .imgBx:before {
  opacity: 1;
}

.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}

.container .box .content h2 {
  color: #fff;
  transition: 0.35s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}

.container .box:hover .content h2 {
  transform: translateY(-100px);
}

.container .box .content button {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}

.container .box:hover .content button {
  transform: translateY(-90px);
}

button {
  cursor: pointer;
  font-size: 13px;
  color: whitesmoke;
  background-color: #2c2c2c;
}

h1 {
  font-size: 2.5rem;
}

.style-span {
  background-size: 100% 67%;
  display: inline;
  z-index: -1;
  background-image: linear-gradient(#ffc13c, #ffbb25);
  background-position: 0 80%;
  background-repeat: no-repeat;
  margin-left: -0.55rem;
  margin-right: -0.55rem;
  padding-left: 0.55rem;
  padding-right: 0.55rem;
}

.pagination-controls {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 1.12rem;
}

@media screen and (max-width: 992px) {
  #main-container {
    max-width: unset;
    width: unset;
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #main-container {
    max-width: unset;
    width: unset;
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  #main-container {
    max-width: unset;
    width: unset;
  }

  #main-container .wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  h1 {
    text-align: center;
  }
}
