header {
  background: #e9e9e9;
  padding: 20px 0;
  box-shadow: 0px 5px 15px -10px #000000;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.nav-links {
  display: flex;
  list-style: none;
  color: #1b1c1e;
}

.logo {
  font-family: "Limelight", cursive;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 30px;
  color: #1b1c1e;
}

.nav-item {
  margin-right: 2rem;
}

.nav-item:last-child {
  margin-right: 0;
}

a {
  color: rgb(43, 43, 43);
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s ease-in;
  font-size: 0.95rem;
  opacity: 0.95;
}

a:hover {
  opacity: 1;
  color: rgb(0, 0, 0);
}

.border-link {
  border: 1px solid black;
  border-radius: 30px 30px 30px 30px;
  padding: 0.5rem 1rem;
  background-color: #1b1c1e;
  color: rgb(212, 212, 212);
}

.border-link:hover {
  color: white;
}

a.header-link {
  color: #18272f;
  position: relative;
  text-decoration: none;
}

a.header-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a.header-link:hover::before {
  transform-origin: right;
  transform: scaleX(1);
}

.line1,
.line2,
.line3 {
  height: 4px;
  width: 20px;
  margin-bottom: 0.2rem;
  background-color: #18272f;
}

.hamburger {
  cursor: pointer;
  align-self: center;
  display: none;
}

.line3 {
  margin-bottom: 0;
}

.line1.toggle {
  transform: rotate(-45deg) translate(-5px, 5px);
  transition: all 0.7s ease;
}

.line2.toggle {
  transition: all 0.7s ease;
  width: 0;
}

.line3.toggle {
  transition: all 0.7s ease;
  transform: rotate(45deg) translate(-5px, -5px);
}

.line1 {
  transition: all 0.7s ease;
  transform: rotate(0deg) translate(0, 0);
}

.line2 {
  transition: all 0.7s ease;
  transform: rotate(0deg) translate(0, 0);
}
.line3 {
  transition: all 0.7s ease;
  transform: rotate(0deg) translate(0, 0);
}

@media only screen and (max-width: 1920px) {
  header {
    padding-left: unset;
    padding-right: unset;
  }
  .navbar {
    display: unset;
  }
}

@media only screen and (max-width: 768px) {
  header {
    padding-left: unset;
    padding-right: unset;
  }

  .hamburger {
    display: unset;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .navbar {
    display: none;
  }
  .logo {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .navbar.open {
    display: block;
  }

  .nav-links.open {
    opacity: 0;
    transition: 0.25ms;
  }

  .nav-links.open {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .nav-links.open {
    opacity: 1;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #e9e9e9;
    display: flex;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15rem;
  }

  .border-link.mobile {
    border: unset;
    border-radius: unset;
    padding: unset;
    background-color: unset;
    color: unset;
  }

  .nav-item.mobile {
    margin-right: unset;
  }

  .nav-item.mobile a {
    font-size: 20px;
  }
}

@media screen and (max-width: 640px) {
  header {
    padding-left: unset;
    padding-right: unset;
  }
  .hamburger {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .logo {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar.open {
    display: block;
  }

  .nav-links.open {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .nav-links.open {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    height: 15rem;
    text-align: center;
    background-color: #e9e9e9;
    display: flex;
    row-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .border-link.mobile {
    border: unset;
    border-radius: unset;
    padding: unset;
    background-color: unset;
    color: unset;
  }

  .nav-item.mobile a {
    font-size: 20px;
  }

  .nav-item.mobile {
    margin-right: unset;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
